h1{
	
	border-style: solid;
	background-color: white;
}
h2 {
	border: 3px dotted white;
}

body {
	background-color: #c8d1e8;
}

.center {
	text-align: center;
	color: #282f40;
}
#para1 {
	width:50%;
}
#para2 {
	width:45%;
}

p::first-line {
  color: white;
  font-size: 25px;
  font-variant: small-caps;
}

p.a {
  font: 18px small-caps;
}
